In [21]:
import cv2
import csv
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [54]:
data = pd.read_csv('/content/drive/MyDrive/real estate.csv')

In [55]:
data.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [56]:
#check for null values
data.isna().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      414 non-null    int64
 1   X1 transaction date                     414 non-null    float64
 2   X2 house age                            414 non-null    float64
 3   X3 distance to the nearest MRT station  414 non-null    float64
 4   X4 number of convenience stores         414 non-null    int64
 5   X5 latitude                             414 non-null    float64
 6   X6 longitude                            414 non-null    float64
 7   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [58]:
data.rename(columns = {'Y house price of unit area':'price'}, inplace = True)

In [59]:
data.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,price
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [60]:
# Separate target from predictors
#data.dropna(axis=0, subset=['Y house price of unit area'], inplace=True)
y = data.price
data.drop(['price'], axis=1, inplace=True)
y

0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: price, Length: 414, dtype: float64

In [80]:
# Break off validation set from training data
X_train, X_test, y_train, y_test = train_test_split(data, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)

In [81]:
#train model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
# fit model
model.fit(X_train,y_train)

In [83]:
#predict model
y_pred = model.predict(X_test)
y_pred

array([39.58239402, 12.95168324, 41.92356069, 12.0452379 , 42.05946963,
       39.28628163, 40.79999655, 34.84049471, 50.15018352, 45.57596321,
       45.35285689, 41.34572498, 38.79094654, 40.10572538, 46.53393646,
       38.70847921, 39.80702168, 41.47127632, 41.7610089 , 42.49361355,
       49.1468402 , 31.81302255, 39.16184157, 46.24063756, 46.49219583,
       43.10198071, 46.32151807, 26.1278043 , 47.3900123 , 20.98052304,
       44.03894485, 34.7726307 , 43.32974226, 39.2050795 , 43.69491539,
       31.56451658, 47.1976703 , 40.08972049, 53.15820449,  7.25942379,
       51.78890909, 33.81267781, 33.77960594, 48.83111829, 14.91325118,
       43.59055022, 42.40970069, 12.24052675, 34.64954306, 47.93022598,
       52.67947976, 39.70392356, 48.67788875, 25.00512038, 30.9525337 ,
       33.92637587, 48.24575219, 40.97590854, 43.38260132, 32.75625508,
       43.87176365, 44.2214297 , 39.78920416, 47.41154954, 37.25210908,
       30.12726205, 10.41052944, 35.6113375 , 47.05630793, 40.53553101,
       31.44424444, 47.11366261, 44.84013415, 30.06525305, 41.0352289 ,
       36.10880642, 32.12998874, 13.23083234, 46.65630982, 45.17224709,
       47.71106763, 29.95204886, 43.85222711])

In [84]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [85]:
mae =mean_absolute_error(y_test,y_pred)
mae

5.776541798115822

In [86]:
mape = mean_absolute_percentage_error(y_test,y_pred)
mape

0.1704700854507169

In [87]:
mse = mean_squared_error(y_test,y_pred)
mse

59.79820550973279

In [88]:
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
rmse

7.7329299434129615